<div class="toast-container full-border">
  <div class="toast-head">
    <div class="toast-head-title-container full-padding">
      <h4 class="toast-head-title">Messages</h4>
    </div>
    <div class="toast-head-button-container full-padding">
      <button class="toast-head-button" (click)="deleteMessages()">
        <fa-icon [icon]="['fas', 'xmark']"></fa-icon>
      </button>
    </div>
  </div>
  <div class="toast-body">
    <div
      class="toast-message-container"
      *ngFor="let message of messages"
      [ngClass]="getStatusClass(message.type)"
    >
      <h4 class="toast-message full-padding">
        {{ message.message }}
      </h4>
    </div>
  </div>
</div>
