@import "variables";

.toast {
  &-container {
    width: 5%;
    min-width: 340px;
    position: fixed;
    right: 1rem;
    top: 4rem;
    z-index: 1;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: $grey-medium;
    border-bottom: 1px solid $grey-dark;

    &-title {
      font-size: 14px;
      font-family: $font-medium;

      &-container {
        display: flex;
        align-items: center;
        width: calc(100% - 52px);
        height: 100%;
      }
    }

    &-button {
      &-container {
        display: flex;
        align-items: center;
        width: 52px;
        height: 100%;
      }
    }
  }

  &-body {
    background-color: $white;
  }

  &-message {
    font-size: 14px;
    font-family: $font-medium;

    &-container {
      &:not(:last-child) {
        border-bottom: 1px solid $grey-dark;
      }

      &.success {
        border-left: 4px solid $success;
      }

      &.warning {
        border-left: 4px solid $warning;
      }

      &.error {
        border-left: 4px solid $danger;
      }
    }
  }
}

.full-padding {
  padding: 12px 16px;
}

.full-border {
  border: 1px solid $grey-dark;
}

@media only screen and (max-width: $breakpoint-lg) {
  .toast {
    &-container {
      top: 7rem;
    }
  }
}
