<div class="forgot-password">
  <div class="forgot-password__container">
    <div class="forgot-password__header">
      <h2 class="forgot-password__header-title"> {{"LOGIN.POPUP.RESET_PASSWORD" | translate}}</h2>
      <app-cross-button (click)="closePopup()"></app-cross-button>

    </div>
    <div class="forgot-password__body">
      <h3 class="forgot-password__subheader">{{ 'LOGIN.POPUP.INSERT_NEW_PASSWORD' | translate }}</h3>
      <input class="forgot-password__input" [(ngModel)]="newPassword" placeholder="Enter ..." type="text" />
    </div>
    <div class="forgot-password__footer">
      <app-button class="button button-upload" (click)="submitForm()">{{ 'LOGIN.POPUP.SUBMIT' | translate
        }}</app-button>
    </div>
  </div>
  <div class="overlay" (click)="closePopup()"></div>
</div>