/*        COLORS        */
/* -------------------- */

$primary: #1e2828;
$secondary: #3d5151;
$tertiary: #608080;
$quaternary: #333333;
$quinary: #55646e;
$senary: #86a0ac;
$septenary: #2878a0;
$octonary: #55646e;
$nonary: #e53c14;

$grey-dark: #dddde3;
$grey-medium: #e9e9ed;
$grey-light: #f9f9fa;

$black: #000000;
$white: #ffffff;

$success: #069d54;
$warning: #ffcb47;
$danger: #dc2e3f;
$partial:#c06d00;
$closed:#8a1b26;

/*      TYPOGRAPHY      */
/* -------------------- */

$font-thin: "Roboto Thin";
$font-light: "Roboto Light";
$font-regular: "Roboto Regular";
$font-medium: "Roboto Medium";
$font-bold: "Roboto Bold";
$font-black: "Roboto Black";

$h1-size: 2.5rem;
$h2-size: 2rem;
$h3-size: 1.75rem;
$h4-size: 1.5rem;
$h5-size: 1.25rem;
$h6-size: 1rem;

$paragraph-size: 1rem;
$paragraph-size-xs: 0.875rem;
$paragraph-size-xxs: 0.750rem;


/*      BREAKPOINTS      */
/* --------------------- */

$breakpoint-xxl: 1400px;
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;
