<div class="pdf-items-sidebar">
  <app-button (click)="navigateBack()" style="margin-right: 10px;">
    <fa-icon [icon]="['fas', 'arrow-left-long']"></fa-icon>
  </app-button>
  <app-button (click)="saveChanges()">Save Changes</app-button>
<!-- 
  <app-select
    [name]="'PDF.SIDEBAR.TEXT'"
    [addItemText]="'PDF.BUTTON.ADD_TEXT'"
    [items]="textItems"
    (deleteItemEvent)="deleteTextItem($event)"
  ></app-select> -->
  <app-select
    [name]="'PDF.SIDEBAR.IMAGES'"
    [addItemText]="'PDF.BUTTON.ADD_IMAGE'"
    [items]="selectedPageImages"
    (deleteItemEvent)="deleteImageItem($event)"
    (addItemEvent)="addImage()"
  ></app-select>
</div>